@page "{id}"
@using System.Web
@model Snips.Pages.Snippets.Edit

@{
    ViewData["Title"] = "Snippets";
}

<form>
    <div class="form-group row">
        <div class="col-1">
            <label for="inputTitle" class="col-form-label">Title</label>    
        </div>
        <div class="col-9">
            <input type="text" class="form-control" id="inputTitle" value="@Model.Title" placeholder="The title of your snippet">
        </div>
        <div class="col-1">
            <a id="save-button" href="/snippets" class="btn btn-primary">Save</a>
        </div>
        <div class="col-1">
            <a id="cancel-button" href="/snippets" class="btn btn-secondary">Cancel</a>
        </div>

    </div>

    <div class="form-group row">
        <label for="editor" class="col col-form-label">Content</label>
    </div>
    <div class="col-12 row">
        <div id="editor" class="col col-xs-6"></div>
        <div id="preview" class="col col-xs-6"></div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs' } };</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/editor/editor.main.js"></script>
<script>
    function refreshPreview(){
        preview.innerHTML = marked(editor.getValue());  
    }

    const content = "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Content))";
    var editorDiv = document.getElementById('editor');
    editorDiv.style.height = "500px";
    
    var preview = document.getElementById('preview');
    preview.style.height = "500px";   

    var editor = monaco.editor.create(editorDiv, {
        value: content,
        language: "markdown",
        theme: "vs-dark",
        scrollBeyondLastLine: false,
    });    
    
    editor.getModel().onDidChangeContent((e) => refreshPreview());
    refreshPreview();
</script>