@page "{id}"
@using System.Web
@model Snips.Pages.Snippets.Edit

@{
    ViewData["Title"] = "Snippets";
}

<form>
    <div class="field">
        <label class="label">Title</label>
        <div class="columns">
            <div class="column control">
                <input type="text" class="input" id="inputTitle" value="@Model.Title" placeholder="The title of your snippet">
            </div>
            <div class="column is-narrow">
                <a id="save-button" href="/snippets" class="button is-primary">Save</a>
            </div>
            <div class="column is-narrow">
                <a id="cancel-button" href="/snippets" class="button is-light">Cancel</a>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Content</label>
        <p class="help">You can edit the content in the left pane; the preview will automatically refresh itself.</p>
        <div id="tabs-with-content">
            <div class="tabs">
                <ul>
                    <li class="is-active">
                        <a>Edit</a>
                    </li>
                    <li>
                        <a>Preview</a>
                    </li>
                </ul>
            </div>
            <div>
                <section class="tab-content">
                    <div id="editor" class="column is-90-vh p-0"></div>
                </section>
                <section class="tab-content">
                    <div id="preview" class="column content is-90-vh"></div>
                </section>
            </div>
        </div>
    </div>

    <div class="field mt-6">
        <label class="label">Danger zone</label>
        <a id="cancel-button" href="/snippets" class="button is-danger">Delete snippet</a>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs' }, };</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/editor/editor.main.nls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/editor/editor.main.js"></script>
    <script>
        function refreshPreview(){
            preview.innerHTML = marked(editor.getValue());  
        }
    
        const content = "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Content))";
        var editorDiv = document.getElementById('editor');
        
        var preview = document.getElementById('preview');   
    
        var editor = monaco.editor.create(editorDiv, {
            value: content,
            language: "markdown",
            theme: "vs-dark",
            scrollBeyondLastLine: false,
            automaticLayout: true
        });    
        
        editor.getModel().onDidChangeContent((e) => refreshPreview());
        refreshPreview();

        const tabs = document.querySelectorAll('.tabs li');
        const tabsContent = document.querySelectorAll('.tab-content');
        
        let deactivateAllTabs = function () {
            tabs.forEach(function (tab) {
                tab.classList.remove('is-active');
            });
        };
        
        function hideTabsContent() {
            tabsContent.forEach(function (tabContent) {
                tabContent.classList.remove('is-active');
            });
        };
        
        function activateTabsContent(tab) {
            tabsContent[getIndex(tab)].classList.add('is-active');
        };
        
        function getIndex(el) {
            return [...el.parentElement.children].indexOf(el);
        };
        
        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                deactivateAllTabs();
                hideTabsContent();
                tab.classList.add('is-active');
                activateTabsContent(tab);
            });
        })
        
        tabs[0].click();
    </script>
}