@page
@using Newtonsoft.Json
@model Snips.Pages.Snippets.Index

@{
    ViewData["Title"] = "Snippets";
}


<div class="columns">
    <div id="tree" class="column is-one-quarter"></div>
    <div id="viewer" class="column">
        <div id="title-row" class="columns">
            <div class="column is-vcentered content">
                <h1 id="title"></h1>
            </div>
            <div class="column is-narrow is-vcentered">
                <a id="edit-button" href="/snippets/edit" class="button is-primary">Edit</a>
            </div>
        </div>
        <div id="content" class="content"></div>
        <div id="placeholder" class="columns">
            <div class="column is-vcentered is-full mt-6">
                <div class="content">
                    <i>Select a snippet in the treeview.</i>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

    <script>
        function setViewerContent(id, title, content){
            $('#title-row').css("display", "");
            $('#content').css("display", "");
            $('#placeholder').css("display", "none");
            
            $('#edit-button').attr("href", "/snippets/edit/" + id);
            $('#title').html(title);
            $('#content').html(marked(content));
        }
        
        function resetViewer(){
            $('#title-row').css("display", "none");
            $('#content').css("display", "none");
            $('#placeholder').css("display", "");
            
            $('#edit-button').attr("href", null);
            $('#title').html(null);
            $('#content').html(null);
        }
        
        function getSnippetContent(snippetId){
            $.ajax({
                type: "GET",
                url: "/Snippets?handler=SnippetData&snippetId=" + snippetId,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    setViewerContent(response.id, response.title, response.content);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        
        $('#tree').treeview({ 
            data: @Html.Raw(JsonConvert.SerializeObject(Model.Tree)),
            showBorder: false,
            onNodeSelected: function (event, node) {
                getSnippetContent(node.id)
            },
            onNodeUnselected: function (event,node) {
                resetViewer();
            }
        });
        $('#tree').treeview(true).expandAll();
        resetViewer();
    </script>
}