@page
@model Snips.Pages.Snippets.Index

@{
    ViewData["Title"] = "Snippets";
}

<div class="columns">
    <div id="tree" class="column is-one-quarter">
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a class="menu-leaf" data-id="b92e8f5e74544f1f82179e6eb93ae334">1</a>
                    </li>
                    <li>
                        <a class="menu-node">2</a>
                        <ul class="menu-list">
                            <li>
                                <a class="menu-leaf" data-id="ef36ab98cf7d42d681638cecd4e0948b">2.1</a>
                            </li>
                            <li>
                                <a class="menu-leaf" data-id="e049c2da802e4884b5bcadc45094b55e">2.2</a>
                            </li>
                            <li>
                                <a class="menu-leaf" data-id="d6f0241a183b4ae79865562e89d05df2">2.3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
    <div id="viewer" class="column">
        <div id="title-row" class="columns">
            <div class="column is-vcentered content">
                <h1 id="title"></h1>
            </div>
            <div class="column is-narrow is-vcentered">
                <a id="edit-button" class="button is-primary">Edit</a>
            </div>
        </div>
        <div id="content" class="content"></div>
        <div id="placeholder" class="columns">
            <div class="column is-vcentered is-full mt-6">
                <div class="content">
                    <i>Select a snippet in the treeview.</i>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

    <script>
        function setViewerContent(id, title, content){
            $('#title-row').css("display", "");
            $('#content').css("display", "");
            $('#placeholder').css("display", "none");
            
            $('#edit-button').attr("href", "/snippets/edit/" + id);
            $('#title').html(title);
            $('#content').html(marked(content));
        }
        
        function resetViewer(){
            $('#title-row').css("display", "none");
            $('#content').css("display", "none");
            $('#placeholder').css("display", "");
            
            $('#edit-button').attr("href", null);
            $('#title').html(null);
            $('#content').html(null);
        }
        
        function getSnippetContent(snippetId){
            $.ajax({
                type: "GET",
                url: "/Snippets?handler=SnippetData&snippetId=" + snippetId,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    setViewerContent(response.id, response.title, response.content);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }

        //menu-leaf : when clicking a menu-leaf, content should be displayed to the right, leaf should be put active
        let allLeaves = $('.menu-leaf');
        const isActive = "is-active";
        allLeaves.click(function() { 
            if ($(this).hasClass(isActive)){
                //if current leaf is active, deactivate all leaves and reset viewer
                allLeaves.removeClass(isActive);
                resetViewer();
            }     
            else {
                //if inactive, deactivate all leaves, activate current leaf and set viewer content
                allLeaves.removeClass(isActive);
                $(this).addClass(isActive);
                let snippetId = $(this).attr("data-id");
                getSnippetContent(snippetId);
            }
        });
        
        //menu-node : when clicking a menu-node, the <ul> that is right next to it should be hidden or displayed
        $('.menu-node').click(function () {
                $(this).siblings('ul').toggle();
            });
    
        resetViewer();        
    </script>
}