@page
@model Snips.Pages.Snippets.Index

@{
    ViewData["Title"] = "Snippets";
}

<div class="columns">
    <div id="tree" class="column is-one-quarter">
        <div class="columns mb-0">
            <div class="column is-narrow">
                <a href="/snippets/edit" class="button is-primary is-small">Add a snippet</a>
            </div>
            <div class="column is-narrow">
                <a href="/directories/edit" class="button is-primary is-small">Add a directory</a>
            </div>
        </div>

        <aside class="menu">
            <partial name="Shared/_SnippetsTreeview" model="Model.Tree"/>
        </aside>
    </div>
    <div id="viewer" class="column">
        <div id="title-row" class="columns" style="display: none;">
            <div class="column is-vcentered content">
                <h1 id="title"></h1>
            </div>
            <div class="column is-narrow is-vcentered">
                <a id="edit-button" class="button is-primary">Edit</a>
            </div>
            <div class="column is-narrow is-vcentered">
                <a id="share-button" class="button is-link">Share</a>
            </div>
        </div>
        <div id="content" class="content"></div>
        <div id="placeholder" class="columns">
            <div class="column is-vcentered is-full mt-6">
                <div class="content">
                    <i>Please select a snippet in the treeview.</i>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <script src="https://unpkg.com/bulma-toast@1.5.1/dist/bulma-toast.min.js"></script>
    <script>
        const isActive = "is-active";
        
        function setViewerContent(id, title, content){
            $('#title-row').css("display", "");
            $('#content').css("display", "");
            $('#placeholder').css("display", "none");
            
            $('#edit-button').attr("href", "/snippets/edit/" + id);
            $('#share-button').attr("data-id", id);
            $('#title').html(title);
            $('#content').html(marked(content));
        }
        
        function getSnippetContent(snippetId){
            $.ajax({
                type: "GET",
                url: "/api/snippets/" + snippetId,
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    setViewerContent(response.id, response.title, response.content);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        
        function resetViewer(){
            $('#title-row').css("display", "none");
            $('#content').css("display", "none");
            $('#placeholder').css("display", "");
            
            $('#edit-button').attr("href", null);
            $('#share-button').attr("data-id", null);
            $('#title').html(null);
            $('#content').html(null);
        }
        
        function expandNode(node){
            let folderIcon = $(node).children('span.icon');
            folderIcon.removeClass("fa-folder")
            folderIcon.addClass("fa-folder-open");
            $(node).parent().siblings('ul').show();
            $(node).removeClass('collapsed');
            $(node).addClass('expanded');
        }
        
        function collapseNode(node){
            let folderIcon = node.children('span.icon');
            folderIcon.removeClass("fa-folder-open")
            folderIcon.addClass("fa-folder");
            $(node).parent().siblings('ul').hide();
            $(node).removeClass('expanded');
            $(node).addClass('collapsed');
        }

        //menu-leaf : when clicking a menu-leaf, content should be displayed to the right, leaf should be put active
        let allLeaves = $('.menu-leaf');
        allLeaves.click(function() { 
            if ($(this).hasClass(isActive)){
                //if current leaf is active, deactivate all leaves and reset viewer
                allLeaves.removeClass(isActive);
                resetViewer();
            }     
            else {
                //if inactive, deactivate all leaves, activate current leaf and set viewer content
                allLeaves.removeClass(isActive);
                $(this).addClass(isActive);
                let snippetId = $(this).attr("data-id");
                getSnippetContent(snippetId);
            }
        });
        
        //menu-node : when clicking a menu-node, the <ul> that is right next to it should be hidden or displayed
        let allNodes = $('.menu-node');
        allNodes.click(function () {
            if ($(this).hasClass('collapsed')) {
                expandNode($(this));
            }
            else if ($(this).hasClass('expanded')) {
                collapseNode($(this));    
            }    
        });
        
        let allEditIcons = $('.edit-icon');
        allEditIcons.click(function () {
            let directoryId = $(this).attr("data-id");
            window.location = "/directories/edit/" + directoryId;
        });
        
        $('#share-button').click(function(){
            let snippetId = $(this).attr("data-id");
            if (snippetId == null)
                return;
            let url = window.location.origin + "/snippets?id=" + snippetId;
            let el = document.createElement('textarea');
            el.value = url;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            bulmaToast.toast({ 
                message: 'Link copied to clipboard',
                position: "bottom-center",
                type: 'is-primary',
                opacity: 0.8,
                duration: 2000,
                dismissible: true,
            });
        });
        
    
        allNodes.each(function (index, value){ expandNode(value);});      
        let searcher = new URLSearchParams(window.location.search);
        let snippetId = searcher.get("id");
        if (snippetId != undefined && snippetId != null) {
            let leaf = document.querySelector(`.menu-leaf[data-id="${snippetId}"]`);
            if (leaf) {
              leaf.click();
            }
        }
        else {
            resetViewer();
        }
    </script>
}