<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Snips - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.2/min/vs/editor/editor.main.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>

<header>
    <nav>
        <nav class="navbar is-primary" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/index">
                    <span class="fas fa-cut mr-2"></span>
                    Snips
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="snips-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="snips-navbar" class="navbar-menu">
                <div class="navbar-end">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </nav>
</header>

<main>
    <div class="container is-fluid mt-2 mb-2">
        @RenderBody()
    </div>
</main>

<footer class="footer">
    <div class="content">
        <p>
            &copy; 2020 - PoneyMusical
        </p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)

</body>
</html>