@using System.Security.Claims
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-brand">
            <div class="navbar-item">@User.FindFirstValue("name")</div>    
        </div>
    }
</ul>