footer {
    padding: 1rem 1rem 1rem !important;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > footer {
    margin-top: auto;
}

.is-90-vh {
    min-height: 90vh;
}

#tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

#tabs-with-content .tab-content {
    display: none;
}

#tabs-with-content .tab-content.is-active {
    display: block;
}

li.menu-leaf.is-active {
    background-color: #3273dc;
    color: #fff;
}

div.menu-node, li.menu-leaf {
    padding-top: 0.5em;
    padding-right: 0.75em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    cursor: pointer;
    user-select: none;
}